{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>FoodPlease</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="barra-superior">

    <button class="btn-direccion">📍 Ingresa tu dirección</button>
    
    <a href="{% url 'principal' %}" class="logo-link">
        <h1 class="titulo-logo">FoodPlease</h1>
    </a>

    <nav class="nav-menu">

        <a href="{% url 'carrito' %}">
            🛒 Carrito
            {% if cantidad_carrito > 0 %}
            <span class="contador-carrito">{{ cantidad_carrito }}</span>
            {% endif %}
        </a>

        <a href="{% url 'locales' %}">🏪 Locales</a>
        <a href="{% url 'nosotros' %}">👋 Nosotros</a>

        {% if user.is_authenticated %}
    <span class="usuario">👤 {{ user.username }}</span>
    <a href="{% url 'logout' %}" class="btn-entrar">Salir</a>
    
    {% else %}
    {% if request.resolver_match.url_name != 'login' %}
        <a href="{% url 'login' %}" class="btn-entrar">Entrar</a>
    {% endif %}
    {% endif %}

    </nav>

</header>

{% block content %}

{% endblock %}

<footer class="footer">

    <div class="footer-links">
        <a href="{% url 'principal' %}">Página principal</a>
        <a href="{% url 'locales' %}">Locales</a>
        <a href="{% url 'carrito' %}">Carrito</a>
        <a href="{% url 'nosotros' %}">Nosotros</a>

        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </div>

    <p class="footer-copy">
        © 2026 FoodPlease - Proyecto académico
    </p>

</footer>

</body>
</html>
