{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="contenido">
    <h2>{{ categoria.nombre }}</h2>

    <section class="tarjetas-locales">
        {% for local in locales %}
            <a href="{% url 'detalle_local' local.id %}" class="tarjeta-link">
                <div class="tarjeta">

                    {% if local.imagen %}
                        <img src="{{ local.imagen.url }}" alt="{{ local.nombre }}" class="imagen-local-real">
                    {% else %}
                        <div class="imagen-local">
                            {{ local.emoji|default:"🍽️" }}
                        </div>
                    {% endif %}

                    <h3>{{ local.nombre }}</h3>
                    <p>{{ local.descripcion }}</p>
                    <p>⭐ {{ local.calificacion }} · {{ local.tiempo_entrega }}</p>

                </div>
            </a>
        {% empty %}
            <p>No hay locales disponibles en esta categoría.</p>
        {% endfor %}
    </section>
</main>

{% endblock %}