{% extends 'base.html' %}

{% block content %}

<main class="registro-container">
    <div class="registro-box">
        <h2>Crear usuario</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="nombre" placeholder="Nombre completo" required>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="text" name="telefono" placeholder="Teléfono" required>
            <input type="password" name="password1" placeholder="Contraseña" required>
            <input type="password" name="password2" placeholder="Confirmar contraseña" required>

            <button type="submit" class="btn-login">Crear cuenta</button>
        </form>
    </div>
</main>

{% endblock %}